.about-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5em;
}

.about-text {
  align-self: center;
  text-align: justify;
  font-size: 1.3em;
  background-color: var(--card-background-color);
  color: var(--text-light);
  padding: 2em 4em;
  border-radius: 50px;
}

.profile-img {
  justify-self: end;
  height: 70vh;
  border-radius: 50px;
}

@media only screen and (max-width: 750px) {
  .about-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .about-text {
    width: 100%;
    align-self: center;
    text-align: justify;
    background-color: var(--card-background-color);
    color: var(--text-light);
    padding: 2em;
    margin: 1em;
    border-radius: 50px;
  }

  .profile-img {
    height: 60vh;
    object-fit: cover;
  }
}
