.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5em;
}

.about-text {
  background-color: var(--accent-color);
  padding: 5em;
  border-radius: 50px;
  color: var(--text-light);
}

.profile-img {
  height: 70vh;
  border-radius: 50px;
}
