.contacts-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-container {
  display: flex;
  flex-direction: row;
}

.contacts-container {
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-img {
  width: 50%;
  border-radius: 50%;
}
