.timeline-separator-image {
  height: 25px;
  width: 25px;
  padding: 0.25em;
}

.timeline-content-card {
  background-color: var(--card-background-color);
  color: var(--text-light);
  padding: 1.5em;
  border-radius: 20px;
  margin: 0 1em;
}

.mobile-timeline-dates {
  text-align: end;
  font-style: italic;
}

.timeline-description {
  font-family: "Baskervville", serif;
}

@media only screen and (max-width: 750px) {
  .timeline-content-card {
    width: 75vw;
  }
}
