header {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--header-color);
  height: var(--header-height);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;
  border-radius: 0 0 0 22px;
}

.header-list {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style-type: none;
  justify-content: end;
  display: flex;
  flex-direction: row;
}

.header-list li {
  height: 100%;
  align-items: center;
  transition: background-color var(--header-color-active) 1s ease-in;
  display: flex;
  align-items: center;
}

.header-list li:hover a {
  color: var(--accent-color-secondary);
}

.header-list li a {
  color: var(--text-light);
  font-size: 1.7em;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.header-list li.active {
  background-color: var(--header-color-active);
  border-radius: 0 20px 0 20px;
}

.header-list li.active a {
  color: var(--text-dark);
}

@media only screen and (max-width: 750px) {
  header {
    border-radius: 0;
    right: auto;
    width: 100%;
  }

  .header-list li:nth-child(1) {
    grid-area: area1;
  }

  .header-list li:nth-child(2) {
    grid-area: area2;
  }

  .header-list li:nth-child(3) {
    grid-area: area3;
  }

  .header-list li:nth-child(4) {
    grid-area: area4;
  }

  .header-list li:nth-child(5) {
    grid-area: area5;
  }

  .header-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "area1 area1 area2 area2 area3 area3"
      "area4 area4 area4 area5 area5 area5";
  }

  .header-list li a {
    font-size: 1.3em;
    padding: 0;
  }

  .header-list li.active {
    background-color: var(--header-color);
    border-radius: 0;
  }

  .header-list li.active a {
    color: var(--text-light);
  }

  .visible {
    top: 0;
    transition: top 0.4s ease-out;
  }

  .hidden {
    top: calc(var(--header-height) * -1);
    transition: top 0.4s ease-out;
  }
}
