header {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--header-color);
  height: var(--header-height);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;
  border-radius: 0 0 0 20px;
}

.header-list {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style-type: none;
  justify-content: end;
  display: flex;
  flex-direction: row;
}

.header-list li {
  height: 100%;
  align-items: center;
  transition: background-color var(--header-color-active) 1s ease-in;
  display: flex;
  align-items: center;
}

.header-list li:hover a {
  color: var(--accent-color-secondary);
}

.header-list li a {
  color: var(--text-light);
  font-size: 1.6em;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.header-list li.active {
  background-color: var(--header-color-active);
  border-radius: 0 20px 0 20px;
}

.header-list li.active a {
  color: var(--text-dark);
}

@media only screen and (max-width: 750px) {
  header {
    position: static;
    width: 100%;
    border-radius: 0;
    height: auto;
  }

  .header-list {
    display: grid;
    grid-template-columns: auto auto;
  }

  .header-list li {
    height: var(--header-height);
  }

  .header-list li.active {
    background-color: var(--header-color);
    border-radius: 0;
  }

  .header-list li.active a {
    color: var(--text-light);
  }
}
