.project-card {
  width: 75%;

  border-radius: 20px;
  background-color: var(--card-background-color);
  color: var(--text-light);
  padding: 1.5em 3em;
  /* figure out spacing */
  margin: 2em;
}

.project-card p {
  font-size: 1.2em;
  text-align: justify;
}

.project-img {
  max-width: 90%;
  border-radius: 20px;
}

.project-card ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 2em;
  padding: 0;
}

.projects-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  justify-items: center;
}

.project-link {
  background-color: var(--accent-color);
  border-radius: 20px;
  display: flex;
}

.project-link a {
  text-decoration: none;
  color: var(--text-dark);
  width: 100%;
  padding: 0.5em 1em;
}

@media only screen and (max-width: 750px) {
  .projects-container {
    display: flex;
    flex-direction: column;
  }
}
