:root {
  font-family: "Baskervville", serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 78px;

  --text-light: white;
  --text-dark: black;
  --background-color-primary: #abd1c6;
  --background-color-secondary: #c6e7b2;
  --card-background-color: #004643;
  --accent-color: #f9bc60;
  --accent-color-secondary: #eeb3b3;
  --header-color: #002725;
  --header-color-active: var(--accent-color);

  background-color: var(--background-color-primary);
}
