:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 78px;
  --text-light: white;
  --text-dark: #3c0000;
  --background-color: #abd1c6;
  --background-color-secondary: #004643;
  --background-color-tertiary: #c6ecae;
  --accent-color: #f9bc60;
  --accent-color-secondary: #eeb3b3;
  --header-color: #002725;
  --header-color-active: var(--accent-color);

  /* --text-light: #ebedf0;
  --text-dark: white;
  --background-color: #e3c567;
  --accent-color: #47682c;
  --header-color: #28502e;
  --header-color-active: #1b2f33; */
  /* 
  --text-light: white;
  --text-dark: #3c0000;
  --background-color: #d9ae61;
  --accent-color: #e3c567;
  --header-color: #c8963e;
  --header-color-active: #ba1200; */
  /* 
  --text-light: white;
  --text-dark: #3c0000;
  --background-color: #c6ecae;
  --header-color: #44633f;
  --header-color-active: #db7f67;
  --accent-color: #db7f67; */

  /* --text-light: white;
  --text-dark: #222222;
  --background-color: #d4e6b5;
  --header-color: #4b4e6d;
  --header-color-active: #ffdf64;
  --accent-color: #95a3b3; */

  background-color: var(--background-color);
}
